<div class="column">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <div class="has-text-centered">
            <a href="{{url_for('main.projectdetail', projectid=project.id)}}"
              class="subtitle is-3 has-text-centered has-text-primary">{{ project.title }}</a>
          </div>
          <div class="has-text-centered pb-3">
            {% for tag in project.tags %}
            <a href="{{url_for('main.tagdetail', tagid=tag.id)}}"
              class="tag is-medium has-background-success is-success">
              {{ tag.name }}
            </a>
            {% endfor %}
          </div>
          <div class="has-text-centered pb-1">
            <p class="subtitle is-6 has-text-centered has-text-link">
              <a href="https://{{ project.project_link }}">
                {{ project.project_link }}
              </a>
            </p>
          </div>

        </div>
      </div>
      <div class="content has-text-centered has-text-info">
        {{ project.short_description }}
        <br>
      </div>
    </div>
  </div>
</div>