{% extends "bulma-base.html" %}
{% set active_page = "projects_update" %}
{% block head %}{% endblock %}

{% block content %}
<div class="title has-text-centered has-text-primary">Search for Project</div>
<form action="{{url_for('projects.search')}}" method="POST" novalidate>
  {{ form.hidden_tag() }}
  <div class="columns pt-6">
    <div class="column is-6  is-offset-2">
      <div class="field">
        <div class="control">
          {{ form.title_search.label(class_='subtitle has-text-primary')}}<br>
          {{ form.title_search (class_='input has-background-link has-text-primary my-2')}}
        </div>
        <div class="control ">
          {{ form.search (class_='button is-success')}}
        </div>
      </div>
</form>
{% endblock %}