{% extends "bulma-base.html" %}
{% set active_page = "collabs_create" %}
{% block head %}{% endblock %}

{% block content %}
<form action="{{url_for('collabs.create')}}" method="POST" novalidate>
  {{ form.hidden_tag() }}
  <div class="title has-text-centered has-text-primary">Create Collaborator</div>
  <div class="columns py-6">
    <div class="column is-4  is-offset-1">
      <div class="field">
        <div class="control">
          {{ form.fname.label(class_='subtitle has-text-primary')}}<br>
          {{ form.fname (class_='input has-background-link has-text-primary my-2')}}
        </div>
        <div class="control">
          {{ form.lname.label(class_='subtitle has-text-primary')}}<br>
          {{ form.lname (class_='input has-background-link has-text-primary my-2')}}
        </div>
        <div class="control">
          {{ form.clink.label(class_='subtitle has-text-primary')}}<br>
          {{ form.clink (class_='input has-background-link has-text-primary my-2')}}
        </div>
      </div>
      <div class="field is-grouped py-3">
        <div class="control ">
          {{ form.submit (class_='button is-success')}}
        </div>
        <div class="control">
          <button class="button is-info is-light">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}