@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap");

// Set your brand colors
$black: #19181A;
$green: #479761;
$tan: #CEBC81;
$purple: #A16E83;
$beige: #B19F9E;
$secondary: #1a1819;
$theme-white: #bfbfbf;
$theme-gray:#909090;
$scheme-main-bis: #479761;

// Update Bulma's global variables
// $family-sans-serif: 'Titillium Web', sans-serif;
$family-primary: 'Titillium Web', sans-serif;
$family-secondary: 'Roboto', sans-serif;
$primary: $theme-white;
$link: $green;
$info: $theme-gray;
$success: $beige;
$widescreen-enabled: false;
$fullhd-enabled: false;
$link-hover: $purple;
$navbar-item-hover: $purple;
$box-background-color: $black;
$scheme-main: $black;
$navbar-burger-color: $green;
$textarea-vertical-align: top;

// Update some of Bulma's component variables
$body-background-color: $black;
$footer-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$dimensions: 16 24 32 48 64 96 128 200 256;
$primary-light: findLightColor($primary);

html, body {
  height: 100%;
  margin: 0;
}
// .wrapper{
//   min-height: 100%;
//   margin-bottom: -50px;
// }

// .footer,
// .push {
//   height: 30px;
// }

/* FOOTER */
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 150px;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding-top: 20px;
}





.is-vertical-center {
  display: flex;
  align-items: center;
}

.has-text-vert-centered{
  display: flex;
  margin: auto;
  align-items:center;
  justify-content:center;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
  }

.padding-image{
  padding-left: 6%;
  padding-right: 28%;
  padding-bottom: 1%;
}

.padding-image-mobile{
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 1%;
}

.is-boxed-in{
  border-color: $theme-gray;
  border-style: none;
  border-width: 0px;
  margin: 1%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

#wrapper {
  flex: 1;
}


@media screen and (max-width: 768px) {
  .smallscreens{
    padding-left: 100px;
    padding-right: 100px;
  }
}

// FADE ON VERT SCROLL -------------------------
// https://www.dev-tips-and-tricks.com/animate-elements-scrolled-view-vanilla-js#:~:text=The%20fade%2Din%20animation%20applied%20to%20an%20element&text=The%20solution%20is%20to%20add,can%20do%20this%20with%20JavaScript.&text=You%20should%20add%20the%20hidden,element%20you%20want%20to%20animate.

@keyframes fade-in {
  from {opacity:0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: $link solid 2px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}


// Sizing re-arrange
#smallscreen2{
  display: none;
}

@media only screen and (max-width: 768px){
  #smallscreen1{
    display: none;
  }
  #smallscreen2{
    display: inherit;
  }
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.scss";
@import "../node_modules/bulma/sass/utilities/animations.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma-o-steps/bulma-steps.scss";
