@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

// Set your brand colors
$black: #19181A;
$green: #479761;
$tan: #CEBC81;
$purple: #A16E83;
$beige: #B19F9E;
$secondary: #254E58;
$theme-white: #bfbfbf;
$theme-gray:#909090;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
$primary: $theme-white;
$link: $green;
$info: $theme-gray;
$success: $beige;
$widescreen-enabled: false;
$fullhd-enabled: false;
$link-hover: $purple;
$navbar-item-hover: $purple;
$box-background-color: $green;

// Update some of Bulma's component variables
$body-background-color: $black;
$footer-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$dimensions: 16 24 32 48 64 96 128 200 256;
$primary-light: findLightColor($primary);

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
  }

// SCROLLING
section{
  position: relative;
  overflow: hidden;
}
section .scroll{
  width: 100%;
  display: flex;
}
section .scroll div{
  font-size: 4em;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate 50s linear infinite;
  animation-delay: -50s; 
}
section .scroll div:nth-child(2){
  animation: animate2 50s linear infinite;
  animation-delay: -25s; 
}
@keyframes animate{
  0%
  {
    transform:translatex(100%);
  }
  100%
  {
    transform:translatex(-100%);
  }
}
@keyframes animate2{
  0%
  {
    transform:translatex(0%);
  }
  100%
  {
    transform:translatex(-200%);
  }
}
// REVERSE SCROLL
section .scroll2{
  width: 100%;
  display: flex;
}
section .scroll2 div{
  font-size: 4em;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate3 50s linear infinite;
  animation-delay: -50s; 
}
section .scroll2 div:nth-child(2){
  animation: animate4 50s linear infinite;
  animation-delay: -25s; 
}
@keyframes animate3{
  0%
  {
    transform:translatex(-100%);
  }
  100%
  {
    transform:translatex(100%);
  }
}
@keyframes animate4{
  0%
  {
    transform:translatex(-200%);
  }
  100%
  {
    transform:translatex(0%);
  }
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.scss";
@import "../node_modules/bulma/sass/utilities/animations.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
