@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap");

// Set your brand colors
$black: #19181A;
$green: #479761;
$tan: #CEBC81;
$purple: #A16E83;
$beige: #B19F9E;
$secondary: #254E58;
$theme-white: #bfbfbf;
$theme-gray:#909090;

// Update Bulma's global variables
// $family-sans-serif: 'Titillium Web', sans-serif;
$family-primary: 'Titillium Web', sans-serif;
$family-secondary: 'Roboto', sans-serif;
$primary: $theme-white;
$link: $green;
$info: $theme-gray;
$success: $beige;
$widescreen-enabled: false;
$fullhd-enabled: false;
$link-hover: $purple;
$navbar-item-hover: $purple;
$box-background-color: $green;
$scheme-main: $black;
$navbar-burger-color: $green;
$textarea-vertical-align: top;

// Update some of Bulma's component variables
$body-background-color: $black;
$footer-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$dimensions: 16 24 32 48 64 96 128 200 256;
$primary-light: findLightColor($primary);

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
  }

// TAG SCROLLING
section{
  position: relative;
  overflow: hidden;
}
section .scroll{
  width: 100%;
  display: flex;
}
section .scroll div{
  font-size: 4em;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate 50s linear infinite;
  animation-delay: -50s; 
}
section .scroll div:nth-child(2){
  animation: animate2 50s linear infinite;
  animation-delay: -25s; 
}
@keyframes animate{
  0%
  {
    transform:translatex(100%);
  }
  100%
  {
    transform:translatex(-100%);
  }
}
@keyframes animate2{
  0%
  {
    transform:translatex(0%);
  }
  100%
  {
    transform:translatex(-200%);
  }
}
// REVERSE TAG SCROLL
section .scroll2{
  width: 100%;
  display: flex;
}
section .scroll2 div{
  font-size: 4em;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate3 50s linear infinite;
  animation-delay: -50s; 
}
section .scroll2 div:nth-child(2){
  animation: animate4 50s linear infinite;
  animation-delay: -25s; 
}
@keyframes animate3{
  0%
  {
    transform:translatex(-100%);
  }
  100%
  {
    transform:translatex(100%);
  }
}
@keyframes animate4{
  0%
  {
    transform:translatex(-200%);
  }
  100%
  {
    transform:translatex(0%);
  }
}

// FADE ON VERT SCROLL 
// https://www.dev-tips-and-tricks.com/animate-elements-scrolled-view-vanilla-js#:~:text=The%20fade%2Din%20animation%20applied%20to%20an%20element&text=The%20solution%20is%20to%20add,can%20do%20this%20with%20JavaScript.&text=You%20should%20add%20the%20hidden,element%20you%20want%20to%20animate.

@keyframes fade-in {
  from {opacity:0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.scss";
@import "../node_modules/bulma/sass/utilities/animations.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma-o-steps/bulma-steps.scss";
