<li class="title is-family-primary" style="height: 50px;">
  {% if tag.knowledge == 'fluent' %}
  <span>
    <a href="{{url_for('main.tagdetail', tagid=tag.id)}}" class=" title mx-3 has-text-link is-capitalized"
      style="font-size: 4rem; font-weight: 400;">{{ tag.name }}</a>
  </span>
  {% elif tag.knowledge == 'proficient' %}
  <span>
    <a href="{{url_for('main.tagdetail', tagid=tag.id)}}" class=" title mx-3 has-text-white is-capitalized"
      style="font-size: 4rem; font-weight: 400;">{{ tag.name }}</a>
  </span>
  {% elif tag.knowledge == 'familiar' %}
  <span>
    <a href="{{url_for('main.tagdetail', tagid=tag.id)}}" class=" title mx-3 has-text-grey is-capitalized"
      style="font-size: 4rem; font-weight: 400;">{{ tag.name }}</a>
  </span>
  {% endif %}
</li>