<li class="is-family-primary" style="height: 50px;">
  {% if tag.knowledge == 'fluent' %}
  <span>
    <a href="{{url_for('main.tagdetail', tagid=tag.id)}}"
      class="title mx-3 is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-link is-capitalized">{{ tag.name }}</a>
  </span>
  {% elif tag.knowledge == 'proficient' %}
  <span>
    <a href="{{url_for('main.tagdetail', tagid=tag.id)}}"
      class="mx-3 is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-white is-capitalized">{{ tag.name }}</a>
  </span>
  {% elif tag.knowledge == 'familiar' %}
  <span>
    <a href="{{url_for('main.tagdetail', tagid=tag.id)}}"
      class="title mx-3 is-size-1-desktop is-size-2-tablet is-size-3-mobile has-text-grey is-capitalized">{{ tag.name }}</a>
  </span>
  {% endif %}
</li>