{% extends "bulma-base.html" %}
{% set active_page = "tags_view" %}
{% block head %}{% endblock %}

{% block content %}
<section class="hero is-bold">
  <div class="hero-body">
    <div class="title has-text-centered has-text-primary">
      {% if tag.knowledge == 'fluent' %}
      <span class="mx-3 has-text-link">{{ tag.name }}</span>
      {% elif tag.knowledge == 'proficient' %}
      <span class="mx-3 has-text-white">{{ tag.name }}</span>
      {% elif tag.knowledge == 'familiar' %}
      <span class="mx-3 has-text-grey">{{ tag.name }}</span>
      {% endif %}</div>
    <div class="subtitle is-size-4 has-text-centered has-text-primary">
      is a {{ tag.knowledge }} language
    </div>
    <div class="columns py-6">
      <div class="column is-8 is-offset-2">
        <div class='label is-size-4 has-text-white has-text-centered'>
          other languages include:
        </div>
        <div class='label is-size-4 has-text-white has-text-centered'>
          {% for tag in all_tags %}{% include 'elements/tag.html' %}{% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}