<!-- TABLET + -->
<div class="columns">
    <div class="column is-10 is-offset-1 has-background-black is-bold pt-6 is-hidden-mobile">
        <div class="columns">
            <div class="column is-5 has-text-vert-centered is-10-touch is-4-tablet ">
                <div class="title is-size-1 is-size-4-mobile has-text-primary has-text-centered">
                    Max Bender</div>
                <div class="title is-size-3 is-size-4-mobile has-text-primary has-text-centered">
                    {{aboutme.title}}
                </div>
                <div class="title is-size-4 is-size-5-mobile has-text-primary has-text-centered">
                    {{aboutme.subtitle}}
                </div>
            </div>
            <div class="column is-5-tablet">
                <figure class='image padding-image'>
                    <img class="is-rounded" src="{{ url_for('static', filename='images/max-headshot.jpg') }}">
                </figure>
            </div>
        </div>
        <!-- IMAGE -->
        <div class="columns">
            <div class="column is-6">
                <figure class='image padding-image-mobile is-hidden-tablet'>
                    <img class="is-rounded" src="{{ url_for('static', filename='images/max-headshot.jpg') }}">
                </figure>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE + DESCRIPTION-->
<div class="columns is-hidden-tablet">
    <div class="column is-6">
        <figure class='image padding-image-mobile is-hidden-tablet'>
            <img class="is-rounded" src="{{ url_for('static', filename='images/max-headshot.jpg') }}">
        </figure>
    </div>
</div>
<!-- TEXT -->
<div class="columns is-mobile has-background-black is-bold is-hidden-tablet">
    <div class="column is-8 is-offset-2 has-text-vert-centered is-10-touch is-4-tablet ">
        <div class="title is-size-1 is-size-3-mobile has-text-primary has-text-centered">
            Max Bender</div>
        <div class="title is-size-2 is-size-4-mobile has-text-primary has-text-centered">
            {{aboutme.title}}</div>
        <div class="title is-size-3 is-size-5-mobile has-text-primary has-text-centered">
            {{aboutme.subtitle}}
        </div>
    </div>
</div>
<div class="columns has-background-black">
    <div class="column is-10 is-offset-1 pb-6 is-10-touch is-offset-1-touch">
        <div class="subtitle is-italic has-text-primary is-family-secondary">
            {{ aboutme.quote }}
        </div>
        <div class="subtitle has-text-primary is-family-secondary">
            {{aboutme.description | safe}}
        </div>
    </div>
</div>