<div class="columns is-centered">
    <div class="column is-6-desktop is-10-tablet">
        <div class="title is-2 is-size-3-mobile has-text-primary has-text-centered mb-3" style="margin-bottom: 10px">Technologies</div>
        <div style="border-bottom: solid 2px #bfbfbf; width: 87%; margin: auto;"></div>
    </div>
</div>
<div class="columns is-centered has-text-centered">
    <div class="column is-6-desktop is-10-tablet">
        <div class="columns has-text-centered is-mobile">
            <div class="column"><span class="has-text-link is-size-3-desktop is-size-3-tablet is-size-5-mobile">FLUENT</span></div>
            <div class="column"><span class="has-text-white is-size-3-desktop is-size-3-tablet is-size-5-mobile">PROFICIENT</span></div>
            <div class="column"><span class="has-text-grey is-size-3-desktop is-size-3-tablet is-size-5-mobile">FAMILIAR</span></div>
        </div>
    </div>
</div>
<div class="js-conveyor-1 jctkr-wrapper" style="height: 80px;">
    <ul>
        {% for n in range(20)%}
        {% for tag in first_tag_list %}{% include 'elements/tag2.html' %}{% endfor %}
        {% endfor %}
    </ul>
</div>
<div class=" js-conveyor-2 jctkr-wrapper" style="height: 80px;">
    <ul>
        {% for n in range(20)%}
        {% for tag in second_tag_list %}{% include 'elements/tag2.html' %}{% endfor %}
        {% endfor %}
    </ul>
</div>
<div class="js-conveyor-3 jctkr-wrapper" style="height: 80px;">
    <ul>
        {% for n in range(20)%}
        {% for tag in third_tag_list %}{% include 'elements/tag2.html' %}{% endfor %}
        {% endfor %}
    </ul>
</div>