{% extends "bulma-base.html" %}
{% set active_page = "contact" %}
{% block head %}{% endblock %}

{% block content %}


<div class="columns">
    <div class="column is-offset-1 is-5 is-10-touch has-text-vert-centered" style=" padding-top: 60px">
        <figure class='image' style="padding:10%">
            <img class="is-rounded" src="{{ url_for('static', filename='images/max-headshot.jpg') }}">
        </figure>
    </div>
    <div class="column is-5 is-10-touch has-text-centered has-text-vert-centered">
        <!-- <div class="title has-text-primary pb-2">CONTACT:</div> -->
        <div class="subtitle is-size-4 has-text-primary">Lets work together, drop me a note at:
        </div>
        <div class="subtitle is-size-4 has-text-primary">maxbbender@gmail.com</div>
    </div>
    <div class="column is-1"></div>
</div>


{% endblock %}