<footer class="footer is-transparent">
  <!-- RESUME DOWNLOAD -->

  <div class="columns">
    <div class="column is-10 is-offset-1 has-text-centered">
      <a href="https://github.com/maxbbender" class="icon is-large">
        <i class="fab fa-2x fa-github"></i>
      </a>
      <a href="https://twitter.com/maxb_bender" class="icon is-large">
        <i class="fab fa-2x fa-twitter"></i>
      </a>
      <p class="subtitle has-text-link is-size-5 ">
        Max Bender - maxbbender@gmail.com - References available upon request
      </p>
      <div class="button is-link is-outlined">Download My Resume</div>
    </div>
  </div>
</footer>