<footer class="footer is-transparent">
  <!-- RESUME DOWNLOAD -->
  <div class="columns" id="wrapper">
    <div class="column is-10 is-offset-1 has-text-centered">
      <a href="https://github.com/maxbbender" class="icon is-large" target="_blank_">
        <i class="fab fa-2x fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/max-bender-a3035198" class="icon is-large" target="_blank_">
        <i class="fab fa-2x fa-linkedin-in"></i>
      </a>
      <a href="https://twitter.com/maxb_bender" class="icon is-large" target="_blank_">
        <i class="fab fa-2x fa-twitter"></i>
      </a>
      <p class="subtitle has-text-link is-size-5 ">
        Max Bender - <a onclick="myFunction()">maxbbender@gmail.com</a>
      </p>
      <div class="button is-link is-outlined hvr-outline-in">Download My Resume</div>
    </div>
  </div>
</footer>