{% set navigation_bar = [
    ('main.index', 'index', 'Home'),
    ('main.project', 'project', 'Projects'),
    ('main.contact', 'contact', 'Contact')
] -%}
{% set active_page = active_page|default('index') -%}
<div class="container">
    <div class="navbar-brand">
        <a class="navbar-item">
                <div class="">
                    <a href="/">
                        <!-- <img src="{{ url_for('static', filename='images/dixonlogo-small-logoonly.png') }}"> -->
                    </a>
                </div>
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <div class="navbar-start"></div>


    <div id="navbarMenuHeroB" class="navbar-menu navbar-end">
        <div class="navbar-end">
            {% for href, id, caption in navigation_bar %}
            <a href="{{ url_for(href|e) }}" class="navbar-item{% if id == active_page %} is-active{% endif %} has-text-primary">
                {{ caption|e }}
            </a> 
            {% endfor %}
        </div>
    </div>
</div>