{% set navigation_bar = [
    ('main.index', 'index', 'Home'),
    ('main.project', 'project', 'Projects'),
    ('main.contact', 'contact', 'Contact')
] -%}

{% set navigation_bar_logged_in = [
    ('main.index', 'index', 'Home'),
    ('main.project', 'project', 'Projects'),
    ('main.contact', 'contact', 'Contact'),
    ('main.logout', 'logout', 'Logout')
] -%}


{% set active_page = active_page|default('index') -%}
<nav class="navbar py-5 px-6 is-transparent" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <div class="">
                <a href="{{ url_for('main.index') }}" class="image is-square is-64x64">
                    <img src="{{ url_for('static', filename='images/MBlogo.png') }}">
                </a>
            </div>
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </div>
    <div class="navbar-start">
        {% if not current_user.is_authenticated %}
        {% endif %}
        {% if current_user.is_authenticated %}
        <div class="title has-text-primary px-6">**AS ADMIN**</div>
        {% endif %}
    </div>


    <div id="navbarMenuHeroB" class="navbar-menu navbar-end">
        <div class="navbar-end pr-6">
            {% if not current_user.is_authenticated %}
            {% for href, id, caption in navigation_bar %}
            <a href="{{ url_for(href|e) }}"
                class="navbar-item{% if id == active_page %} is-active{% endif %} has-text-primary">
                {{ caption|e }}
            </a>
            {% endfor %}
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="/admin" class="navbar-item has-text-primary">Admin</a>
            {% for href, id, caption in navigation_bar_logged_in %}
            <a href="{{ url_for(href|e) }}"
                class="navbar-item{% if id == active_page %} is-active{% endif %} has-text-primary">
                {{ caption|e }}
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>