{% extends "bulma-base.html" %}
{% set active_page = "project" %}
{% block head %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-10 is-offset-1 has-text-centered">
        <div class="title has-text-primary">PROJECTS</div>
    </div>
</div>

<div>
    <div class="columns">
        <div class="column">
            <div class="column is-8 is-offset-2 ">
                {% for project in all_projects %}
                {% include 'project-base.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}