<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="box">
            <div class="title has-text-primary">
                Project Title 
                <!-- <a href="{{ url_for('static', filename=target_project_title)}}"></a> -->
                <span class="tag is-small is-info is-dark">
                    TAG 1
                    <!-- <a href="{{ url_for('static', filename=target_project_tag1)}}"></a> -->
                </span>
                <span class="tag is-smalll is-info is-dark">
                    TAG 2
                    <!-- <a href="{{ url_for('static', filename=target_project_tag2)}}"></a> -->
                </span>
            </div>
            <div class="link has-text-info">
                LINK HERE
                <!-- <a href="{{ url_for('static', filename=target_project_link)}}"></a> -->
            </div>
            <div class="subtitle has-text-primary">
                DESCRIPTION
                <!-- <a href="{{ url_for('static', filename=target_project_description)}}"></a> -->
            </div>
        </div>
    </div>
</div>
