{% extends "bulma-base.html" %}
{% set active_page = "projectdetail" %}
{% block head %}{% endblock %}

{% block content %}
<div class="columns pt-6">
    <div class="column is-8 is-offset-1 has-text-centered">
        <div class="title has-text-primary is-size-2">
            {{ project.title }}
        </div>
        <hr>
    </div>
</div>
<div class="columns">
    <div class="column is-8 is-offset-1">
        <div class="subtitle has-text-info">
            <!-- style="white-space: pre-line" -->
            <div class="content">
                {{ project.long_description | safe}}
            </div>
        </div>
    </div>
    <div class="column is-2">
        <div class="card">
            {% if project.tags %}
            <div class="media py-3">
                <div class="media-content">
                    <div class="card-header-title">
                        <div class="title has-text-primary is-size-4">Project Technologies:</div>
                    </div>
                    <div class="card-content">
                        {% for tag in project.tags %}
                        <a href="{{url_for('main.tagdetail', tagid=tag.id)}}"
                            class="tag is-small has-background-link is-success">
                            {{ tag.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
            {% if project.project_link %}
            <div class="media py-3">
                <div class="media-content has-text-centered">
                    <div class="card-header-title ">
                        <div class="title  has-text-primary is-size-4">Project Link:</div>
                    </div>
                    <div class="card-content">
                        <a href="https://{{ project.project_link}}" target="_blank"
                            class="subtitle is-size-6 has-text-link">
                            {{ project.project_link }}
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
            {% if project.collabs %}
            <div class="media py-3">
                <div class="media-content has-text-centered">
                    <div class="card-header-title ">
                        <div class="title  has-text-primary is-size-4">Project Collaborators:</div>
                    </div>
                    <div class="card-content">
                        <!-- https://ui-avatars.com/ -->
                        {% for collab in project.collabs %}
                        {% if collab.clink %}
                        <a href="https://{{ collab.clink }}">
                            <img src="https://ui-avatars.com/api/?name={{ collab.fname }}+{{ collab.lname }}&rounded=true&background=479761&color=bfbfbf"
                                alt="">
                        </a>
                        {% else %}
                        <img src="https://ui-avatars.com/api/?name={{ collab.fname }}+{{ collab.lname }}&rounded=true&background=479761&color=bfbfbf"
                            alt="">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}