<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="box">
            <div class="title has-text-primary">
                {{ project.title }}
                {% for tag in project.tags %}
                <span class="tag is-small is-link is-dark">
                    {{ tag.name }}
                </span>
                {% endfor %}
            </div>
            <div class="link has-text-info">
                {{ project.project_link | default('No LINK!')}}
            </div>
            <div class="subtitle has-text-primary">
                {{ project.long_description }}
            </div>
        </div>
    </div>
</div>