<div class="columns">
  <div class="column is-10 is-offset-1">
    <div class="box">
      <div>
        <a href="{{url_for('main.projectdetail', projectid=project.id)}}" class="title has-text-primary">
          {{ project.title }}
        </a>
        {% for tag in project.tags %}
        <span class="tag is-small is-dark">
          {{ tag.name }}
        </span>
        {% endfor %}
      </div>
      <div class="subtitle">
        {{ project.project_link }}
      </div>
      <div class="subtitle has-text-primary">
        {{ project.short_description }}
      </div>
    </div>
  </div>
</div>