<section class="hero is-link is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="title has-text-centered has-text-primary">
                {{ project.title}}
            </div>
        </div>
    </div>
</section>
<div class="columns pt-6">
    <div class="column is-9 is-offset-1">
        <div class="subtitle has-text-info">
            {{ project.long_description}}
        </div>
    </div>
    <div class="column is-2">
        <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
        {{% for tag in project.tags %}}
        <span class="tag is-small is-info">
            {{ tag.name }}
        </span>
        {{% endfor %}}
    </div>
</div>