{% extends "bulma-base.html" %}
{% set active_page = "project" %}
{% block head %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="title has-text-primary has-text-cenetered">PROJECTS</div>
    </div>
</div>

{% with %}

{% set target_project_title = 'TITLE1' %}
{% set target_project_link = 'LINK1' %}
{% set target_project_tag1 = 'TAG1' %}
{% set target_project_tag2 = 'TAG@' %}
{% set target_project_description = 'DESCRIPTION THINGS' %}

{% include 'project-base.html' %}

{% endwith %}

{% with %}

{% set target_project_title = 'TITLE1' %}
{% set target_project_link = 'LINK1' %}
{% set target_project_tag1 = 'TAG1' %}
{% set target_project_tag2 = 'TAG@' %}
{% set target_project_description = 'DESCRIPTION THINGS' %}

{% include 'project-base.html' %}

{% endwith %}

{% with %}

{% set target_project_title = 'TITLE1' %}
{% set target_project_link = 'LINK1' %}
{% set target_project_tag1 = 'TAG1' %}
{% set target_project_tag2 = 'TAG@' %}
{% set target_project_description = 'DESCRIPTION THINGS' %}

{% include 'project-base.html' %}

{% endwith %}



{% include 'footer-base.html' %}
{% endblock %}