<!DOCTYPE html>
<html>

<head>
  <title>Max Bender | Resume</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles-resume.css', _external=True)}}" />
</head>

<body>
  <div class="mx-5 my-5">
    <!-- HEADER -->
    <section>
      <div class="columns" style="width: 100%;">
        <div class="column is-5 is-offset-1 ">
          <div class="title has-text-primary pt-3">Max Bender <a href="https://maxbbender.com">maxbbender.com</a>
          </div>
          <!-- <div class="title is-size-4 has-text-primary">{{aboutme.title}}</div> -->
          <div class="subtitle has-text-primary" style="margin-bottom:5px;">Email: maxbbender@gmail.com
          </div>
          <br>
          <div class="subtitle has-text-primary">{{aboutme.description}}</div>
        </div>
      </div>
      <!-- <div class="columns" style="width: 100%;">
        <div class="column is-10 is-offset-1">
          <hr>
        </div>
      </div> -->
    </section>
     <!-- EXPERIENCE -->
     <section>
      <div class="title has-text-primary has-text-centered is-size-2 pt-2">Experience</div>
      {% for achievement in achievements %}
      <div class="columns" style="width: 100%;">
        <div class="column is-10 is-offset-1">
          <div class="title has-text-primary">{{achievement.name}}</div>
          <div class="subtitle has-text-primary">{{achievement.start_date}} - {{achievement.end_date | safe}}</div>
          <div class="info has-text-primary">{{achievement.desc | safe}}</div>
          {%if achievement.projects | length > 0 %}
          <div class="content mt-2">
            <!-- <h3>Projects</h3> -->
            <ul>
              {% for project in achievement.projects %}
              <li><a href="https://maxbbender.com/projectdetail/{{ project.id }}">{{ project.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </section>
    <!-- PROJECTS -->
    <!-- <section>
      <div class="title has-text-primary has-text-centered is-size-2">Projects</div>
      {% for project in projects %}
      <div class="columns" style="width: 100%;">
        <div class="column is-10 is-offset-1">
          <div class="title has-text-primary">{{project.title}}
            <span class="subtitle is-size-6 has-text-link pl-3">{% if project.project_link %}{{project.project_link}}{% endif %}</span>
          </div>
          <div class="subtitle has-text-primary">{{project.link}}</div>
          <div class="info has-text-primary">{{project.long_description | safe}}</div>
        </div>
      </div>
      {% endfor %}
      <div class="columns" style="width: 100%;">
        <div class="column is-10 is-offset-1">
          <hr>
        </div>
      </div>
    </section> -->
    <div class="columns" style="width: 100%;">
        <div class="column is-10 is-offset-1">
          <hr>
        </div>
      </div>
    <!-- SKILLS -->
    <section>
      <div class="columns" style="width: 100%;">
        <div class="column has-text-centered py-5">
          <div class="title has-text-primary has-text-centered is-size-2 pt-2">Skills</div>
          <div class="subtitle has-text-primary has-text-centered pb-1">My experiences have exposed me to the
            languages and skills listed below, some in greater detail than others.</div>
          <div class="title is-size-4 has-text-primary has-text-c dentered pb-2" style="text-decoration: underline;">
            Fluent</div>
          <div class="subtitle has-text-primary pb-3">
            {% for fluent_tag in fluent_tags %}
            <span>{{fluent_tag.name}}</span>
            <span class="px-1"></span>
            {% endfor %}
          </div>

          <div class="title is-size-4 has-text-primary has-text-centered pb-2" style="text-decoration: underline;">
            Proficient</div>
          <div class="subtitle has-text-primary pb-3">
            {% for proficient_tag in proficient_tags %}
            <span>{{proficient_tag.name}}</span>
            <span class="px-1"></span>
            {% endfor %}
          </div>
          <div class="title is-size-4 is-underlined has-text-primary has-text-centered pb-2"
            style="text-decoration: underline;">Familiar</div>
          <div class="subtitle has-text-primary pb-3">
            {% for familiar_tag in familiar_tags %}
            <span>{{familiar_tag.name}}</span>
            <span class="px-1"></span>
            {% endfor %}
          </div>

        </div>

      </div>
    </section>
    <div class="columns" style="width: 100%;">
        <div class="column is-10 is-offset-1">
          <hr>
        </div>
    </div>
    <!-- FOOTER -->
    <section class="mb-6">
      <div class="columns" style="width: 100%;">
        <div class="column has-text-centered py-5">
          <div class="subtitle has-text-primary ">References available upon request</div>
        </div>
        <div class="subtitle has-text-primary is-size-5 has-text-centered">
          This is a programmatically generated resume, for an up to date & formatted version please visit
          <a href="maxbbender.com">maxbbender.com</a>
        </div>
      </div>
    </section>
  </div>
</body>

</html>