{% extends "bulma-base.html" %}
{% set active_page = "tagdetail" %}
{% block head %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="title has-text-primary has-text-cenetered">Projects utitlizing {{ tag.name }} include:</div>
    </div>
</div>
<div class="columns">
    <div class="column is-10 is-offset-1 pt-3">
        {% for project in tag.projects %}
        <div class="box">
            <div>
                <a class="title has-text-primary" href="#">
                    {{ project.title }}
                </a>
            </div>
            <a class="subtitle is-size-6 pt-1" href="https://{{ project.project_link}}">
                {{ project.project_link }}
            </a>
            <div class="subtitle pt-1">
                {{ project.short_description }}
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% include 'footer-base.html' %}
{% endblock %}