<div class="hero is-success bold">
    <div class="hero-body">
        <div class="title has-text-centered">
            TAG
            <!-- <a href="{{ url_for('static', filename=target_project_tag)}}"></a> -->
        </div>
        <div class="subtitle">
            Projects utitlizing TAG include:
        </div>
    </div>
</div>

<div class="columns">
        <div class="column is-10 is-offset-1 pt-6">
            <div class="box">
                <div>
                    <a class="title is-4" href="#">
                        Project Title
                        <!-- <a href="{{ url_for('static', filename=target_project_title)}}"></a> -->
                    </a>
                </div>
                <div class="subtitle">
                    Short Description
                    <!-- <a href="{{ url_for('static', filename=target_project_short_description)}}"></a> -->
                </div>
        </div>
    </div>
</div>




<!-- {% with %}
    {% set target_project_title = 'images/gallery1.jpg' %}
    {% set target_project_tag = 'images/gallery1.jpg' %}
    {% set target_project_short_description = 'images/gallery1-16x9.jpg' %}

    {% include 'project-base.html' %}
{% endwith %} -->