{% extends "bulma-base.html" %}
{% set active_page = "tagdetail" %}
{% block head %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-10 is-offset-1 is-10-touch is-offset-1-touch pt-6">
        <div class="title has-text-primary has-text-cenetered">Projects utitlizing {{ tag.name }} include:</div>
        <hr>
    </div>
</div>
<div class="columns">
    <div class="column is-10 is-offset-1 is-10-touch is-offset-1-touch pt-3">
        {% for project in tag.projects %}
        <div class="box">
            <div>
                <a class="title has-text-primary" href="{{url_for('main.projectdetail', projectid=project.id)}}">
                    {{ project.title }}
                </a>
                {% if project.project_link %}
                <!-- variable is not empty -->
                <a href="https://{{ project.project_link }}" target="_blank"> <i class="fas fa-link"
                        style="vertical-align: 3px;"></i></a>
                {% else %}
                <!-- variable is empty -->
                {% endif %}
            </div>
            <div class="subtitle pt-1 has-text-primary">
                {{ project.short_description | safe}}
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}